@model IEnumerable<ImageHost.Models.Work>
@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1 style="text-align:center;">IMAGE HOST</h1>
</div>
<div class="text-center text-primary">
	<p style="font-weight:bold">
		LAST WORKS
	</p>
</div>
<div style="text-align: center; overflow-x: scroll; /* Добавляем полосу прокрутки */
    width: 100%; /* Ширина блока */
    height: 100%; /* Высота блока */
    padding: 5px; /* Поля вокруг текста */
   
    white-space: nowrap; /* Запрещаем перенос строк */">

	@foreach (var m in Model)
	{


		<div class="zoom-gallery biv" height="220">
			<a href="@Url.Content("~/Content/" + m.Image)" height="220">
				<img src="@Url.Content("~/Content/" + m.Image)" height="220" style=" width: 100%; max-width:300px; box-shadow: 0 0 10px rgba(0,0,0,0.5);
                                padding: 1px; margin-right: 15px; margin-top: 15px;" />
			</a>
		</div>
	}
</div>

<style>
	.biv {
		display: inline;
		

	}
	.image-source-link {
		color: #98C3D1;
	}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
    .mfp-with-zoom.mfp-ready.mfp-bg {
        opacity: 0.8;
    }

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
</style>
